header, nav, aside, footer {display: block;}

body{
	font:100% "Gill Sans", Helvetica, Arial, Sans-serif;
}

#wrap{
	width: 85%;
	margin: 0 auto;
}

header h1{
	float: left;
	font: normal 4em cuprum, sans-serif;
	margin: 0.5em 0;
}

header nav{
	float: right;
	padding-top: 3em;
}

header nav ul{
	list-style: none;
	padding: 0;
}

header nav li{
	float: left;
}

header nav a{
	display: block;
	font-size: 1.4em;
	width: 6em;
	text-decoration: none;
	text-align: center;
	padding: 0.2em 0;
}

header nav a:hover{
	background-color: #00b9ff;
	color: white;
}

section img{
	width: 100%
}

aside{
	display: none;
}

footer{

}

footer ul{
	list-style: none;
	padding: 0;
	margin-right: 28px;
}

footer ul li{
	float: right;
	margin-right: 80px;
	margin-bottom: 10px;
}

footer ul li a{
	display: block;
	font-size: 1.4em;
	width: 8.5em;
	text-decoration: none;
	text-align: center;
	
}


/****************media screen media querry******************/

@media screen and (max-width: 1024px){
	header h1{
		font-size:2em;
	}

	header nav{
		padding-top: 0;
	}

	header nav a{
		
		width: 5em;
	}

	footer ul{
		margin-right: 5px;
	}
}
/***************************mid size******************/

@media screen and (max-width: 728px){
	header h1{
		font-size:1.5em;
	}

	header nav a{
		font-size: 1.1em;
	}
}

































